# Default ignored files
/shelf/
.DS_Store
lib/

# supplied files
misc/

# db cred
src/wgu_full/DAO/JDBC.java

# Compiled class file
*.class

# Intellij
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Package files
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

README.txt
login_activity.txt